@import 'bootstrap/scss/mixins';

$xl-height: 640px;
$sm-height: 1200px;

.img-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background: darken($dark, 3);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.small {
  font-size: 0.7rem;
  word-wrap: break-word;
}

.wrapper {
  transition: padding-bottom 0.35s ease;
}

.details {
  width: calc(100% - 24px);
  height: $sm-height - 12;
  left: 12px;
  position: absolute;
  margin-top: 1rem;
  z-index: 2;
  border: solid 1px #444;

  &:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    filter: brightness(30%);
    z-index: -1;
  }

  @include media-breakpoint-up(lg) {
    height: $xl-height - 12;
  }
}

.open {
  padding-bottom: $sm-height;

  @include media-breakpoint-up(lg) {
    padding-bottom: $xl-height;
  }
}
