@import "bootstrap/scss/variables";

img {
    max-width: 100%;
}

.small {
    font-size: .7rem;
    word-wrap: break-word;
}

.darken {
    color: darken($light, 30);
}

.close {
    position: absolute;
    text-align: right;
    padding-right: 15px;
    width: 100%;
    left: 0;
    opacity: .1;
    transform: translateY(-150%);
    transition: transform .5s, opacity .5s;
}

.name {
    padding: 10px 0;

    &.small {
        padding: 5px 0;
    }
}

div:hover > .close {
    transform: translateY(10%);
    opacity: .8;
}
