@import "bootstrap/scss/variables";

.img-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background: darken($dark, 3);

    > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.small {
    font-size: .7rem;
    word-wrap: break-word;
}

.darken {
    color: darken($light, 30);
}

.champion {
    position: relative;
    overflow: hidden;

    > .close {
        position: absolute;
        text-align: right;
        padding-right: 15px;
        width: 100%;
        left: 0;
        opacity: .1;
        z-index: 5;
        transform: translateY(-150%);
        transition: transform .5s, opacity .5s;
    }
}


.name {
    padding: 10px 0;

    &.small {
        padding: 5px 0;
    }
}

div:hover > .close {
    transform: translateY(10%);
    opacity: .8;
}
