@import 'bootstrap/scss/variables';

.search-input {
    flex-grow: 4 !important;
}

@media (min-width: map-get($grid-breakpoints,md)) {

    .search-input {
        flex-grow: 8 !important;
    }

    .wide, .dropdown-toggle {
        flex-basis: 150px;
    }

}
